<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPegawai" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:35098/Pegawai.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPegawai" contract="PegawaiService.IPegawai"
                name="BasicHttpBinding_IPegawai" />
        </client>
    </system.serviceModel>
</configuration>